<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="UOMo for Eclipse 2024-12" sequenceNumber="1492180497">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
   <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/eclipse/updates/4.34/R-4.34-202411201800/"/>
		<unit id="org.eclipse.e4.rcp.feature.group" version="4.34.0.v20241113-2009"/>
		<unit id="org.eclipse.e4.rcp.source.feature.group" version="4.34.0.v20241113-2009"/>
		<unit id="org.eclipse.equinox.executable" version="3.8.2700.v20240929-1145"/>
		<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2700.v20240929-1145"/>
		<unit id="org.eclipse.platform.feature.group" version="4.34.0.v20241120-1800"/>
		<unit id="org.osgi.service.component.annotations" version="1.5.1.202212101352"/>
		<unit id="org.eclipse.osgi.services" version="3.12.100.v20240327-0645"/>
	</location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">	  
      <unit id="org.hamcrest" version="0.0.0"/>
      <unit id="org.junit" version="0.0.0"/>
      <unit id="org.slf4j.log4j" version="0.0.0"/>
      <unit id="org.apache.commons.lang" version="0.0.0"/>
      <unit id="org.apache.xerces" version="0.0.0"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20211213173813/repository/"/>
    </location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
 	    <unit id="javax.measure.unit-api" version="0.0.0"/>
		<unit id="jakarta.annotation-api" version="0.0.0"/>	      
		<unit id="jakarta.inject.jakarta.inject-api" version="0.0.0"/>	  
	  	<unit id="uom-lib-common" version="0.0.0"/>
	  	<unit id="tech.units.indriya" version="0.0.0"/>
	  	<unit id="systems.uom.quantity" version="0.0.0"/>
	  	<repository location="https://unitsofmeasurement.github.io/downloads/p2/uom-systems/2.2b/"/>
	</location>
  </locations>
</target>