<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="UOMo for Eclipse Neon" sequenceNumber="1492180497">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
			<unit id="org.apache.commons.lang" version="2.6.0.v201205030909"/>
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
	</location>
	 <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="javax.measure.unit-api" version="1.0.0.v20170818-1538"/>
      <repository id="eclipse-orbit-oxygen-sr1" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170818183741/repository"/>
    </location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="tec.uom.lib.uom-lib-common" version="0.0.0"/>
		<unit id="si.uom.si-quantity" version="0.0.0"/>
		<unit id="systems.uom.systems-quantity" version="0.0.0"/>
		<repository location="http://download.eclipse.org/uomo/third-party/repository/"/>
	</location>
	<location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.6/R-4.6.2-201611241400/"/>
    </location>
</locations>
</target>
