<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="UOMo for Eclipse Neon" sequenceNumber="1492180497">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
	<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.junit" version="4.10.0.v4_10_0_v20120426-0900"/>
		<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.apache.commons.lang" version="2.6.0.v201205030909"/>
		<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.2.v20150204-1316"/>
		<repository location="http://download.eclipse.org/releases/luna/201502271000"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="javax.measure.unit-api" version="0.0.0"/>
		<unit id="tech.uom.lib.uom-lib-common" version="0.0.0"/>
		<unit id="tech.units.indriya" version="0.0.0"/>
		<unit id="systems.uom.systems-quantity" version="0.0.0"/>
		<repository location="https://dl.bintray.com/unitsofmeasurement/p2/systems.uom_p2_site/1.3a"/>
	</location>
</locations>
</target>
