<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="UOMo for Eclipse Oxygen" sequenceNumber="1492180496">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2e.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2e.wtp.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2e.wtp.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.commons.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jpt.jpa.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.datatools.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.epp.logging.aeri.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.epp.logging.aeri.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jetty.http" version="0.0.0"/>
      <unit id="org.eclipse.jetty.servlet" version="0.0.0"/>
      <unit id="org.eclipse.jetty.server" version="0.0.0"/>
      <unit id="org.eclipse.jetty.util" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/oxygen/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
	  <unit id="javax.measure.unit-api" version="0.0.0"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <unit id="ch.qos.logback.slf4j" version="1.1.2.v20160301-0943"/>
      <unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20180330011457/repository/"/>
    </location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	  <unit id="tech.uom.lib.uom-lib-common" version="0.0.0"/>
	  <unit id="tech.units.indriya" version="0.0.0"/>
	  <unit id="systems.uom.systems-quantity" version="0.0.0"/>
	  <repository location="https://download.eclipse.org/uomo/dependency/uom-systems/1.3a"/>
	</location>
  </locations>
</target>